<footer class="main-footer">
    <strong>Copyright &copy; 2024 <a target="_blank" href="https://www.instagram.com/_photugrapher_/">Node
            Admin</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.5
    </div>
</footer>