@tailwind base;
@tailwind components;
@tailwind utilities;
.grad
{
  background: linear-gradient(109.6deg, rgb(255, 219, 47) 11.2%, rgb(244, 253, 0) 100.2%);
}
/* Hide the scrollbar but still allow scrolling */
div {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

div::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
